# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [45]:
# Import your libraries:

import pandas as pd
import numpy as np

from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [46]:
# Your code here:

diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [47]:
# Your code here:

diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [48]:
# Your code here:

print(diabetes['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [49]:
# Your code here:

df = pd.DataFrame(diabetes['data'], columns=diabetes['feature_names'])
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [50]:
# Your code here:

y = pd.DataFrame(diabetes['target'])
y

         0
0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
..     ...
437  178.0
438  104.0
439  132.0
440  220.0
441   57.0

[442 rows x 1 columns]

Initialize the model in the variable `diabetes_model`

In [51]:
# Your code here:

# Your code here:
diabetes_model = LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [52]:
# Your code here:

diabetes_model.fit(df, y)
print(diabetes_model.intercept_)
print('-----------') 
print(diabetes_model.coef_)

[152.13348416]
-----------
[[ -10.0098663  -239.81564367  519.84592005  324.3846455  -792.17563855
   476.73902101  101.04326794  177.06323767  751.27369956   67.62669218]]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [53]:
# Your code here:

import statsmodels.api as sm
from statsmodels.stats import diagnostic
from statsmodels.formula.api import ols

In [54]:
X = sm.add_constant(df)
Y = y

modelo = sm.OLS(Y, X).fit()
prediction = modelo.predict()
print(modelo.summary())
print(prediction)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      0   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Sun, 25 Sep 2022   Prob (F-statistic):           3.83e-62
Time:                        19:57:38   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        152.1335      2.576     59.061      0.000     147.071     157.196
age          -10.0099     59.749     -0.168      0.867    -127.446     107.426
sex         -239.8156     61.222     -3.917      0.000    -360.147    -119.484
bmi          519.8459     66.533      7.813      0.000     389.076     650.616
bp           324.3846     65.422      4.958      0.000     195.799     452.970
s1          -792.1756    416.680     -1.901      0.058   -1611.153      26.802
s2           476.7390    339.030      1.406      0.160    -189.620    1143.098
s3           101.0433    212.531      0.475      0.635    -316.684     518.770
s4           177.0632    161.476      1.097      0.273    -140.315     494.441
s5           751.2737    171.900      4.370      0.000     413.407    1089.140
s6            67.6267     65.984      1.025      0.306     -62.064     197.318
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[206.11667725  68.07103297 176.88279035 166.91445843 128.46225834
 106.35191443  73.89134662 118.85423042 158.80889721 213.58462442
  97.07481511  95.10108423 115.06915952 164.67656842 103.07814257
 177.17487964 211.7570922  182.84134823 148.00326937 124.01754066
 120.33362197  85.80068961 113.1134589  252.45225837 165.48779206
 147.71997564  97.12871541 179.09358468 129.05345958 184.7811403
 158.71516713  69.47575778 261.50385365 112.82234716  78.37318279
  87.66360785 207.92114668 157.87641942 240.84708073 136.93257456
 153.48044608  74.15426666 145.62742227  77.82978811 221.07832768
 125.21957584 142.6029986  109.49562511  73.14181818 189.87117754
 157.9350104  169.55699526 134.1851441  157.72539008 139.11104979
  72.73116856 207.82676612  80.11171342 104.08335958 134.57871054
 114.23552012 180.67628279  61.12935368  98.72404613 113.79577026
 189.95771575 148.98351571 124.34152283 114.8395504  121.99957578
  73.91017087 236.71054289 142.31126791 124.51672384 150.84073896
 127.75230658 191.16896496  77.05671154 166.82164929  91.00591229
 174.75156797 122.83451589  63.27231315 151.99867317  53.72959077
 166.0050229   42.6491333  153.04229493  80.54701716 106.90148495
  79.93968011 187.1672654  192.5989033   61.07398313 107.4076912
 125.04307496 207.72402726 214.21248827 123.47464895 139.16439034
 168.21372017 106.92902558 150.64748328 157.92364009 152.75958287
 116.22381927  73.03167734 155.67052006 230.1417777  143.49797317
  38.09587272 121.8593267  152.79404663 207.99702587 291.23106133
 189.17571129 214.02877593 235.18106509 165.38480498 151.2469168
 156.57659557 200.44066818 219.35193167 174.78830391 169.23118221
 187.87537099  57.49340026 108.54836058  92.68731024 210.87347343
 245.47097701  69.84285129 113.03485904  68.42650654 141.69639374
 239.46240737  58.37858726 235.47123197 254.92309543 253.30708899
 155.51063293 230.55961445 170.44330954 117.9953395  178.55406527
 240.07119308 190.33892524 228.66470581 114.24456339 178.36552308
 209.091817   144.85615197 200.65926745 121.34295733 150.50993019
 199.01879825 146.27926469 124.02163345  85.25913019 235.16173729
  82.1730808  231.29474031 144.36940116 197.04628448 146.99841953
  77.18813284  59.37368356 262.68557988 225.12900796 220.20301952
  46.59651844  88.10194612 221.77450036  97.25199783 164.48838425
 119.90096817 157.80220788 223.08012207  99.59081773 165.84386951
 179.47680741  89.83353846 171.82590335 158.36419935 201.48185539
 186.39194958 197.47424761  66.57371647 154.59985312 116.18319159
 195.91755793 128.04834496  91.20395862 140.57223765 155.22669143
 169.70326581  98.7573858  190.14568824 142.51704894 177.27157771
  95.30812216  69.06191507 164.16391317 198.0659024  178.25996632
 228.58539684 160.67104137 212.28734795 222.4833913  172.85421282
 125.27946793 174.72103207 152.38094643  98.58135665  99.73771331
 262.29507095 223.74033222 221.33976142 133.61470602 145.42828204
  53.04569008 141.82052358 153.68617582 125.22290891  77.25168449
 230.26180811  78.9090807  105.2051755  117.99622779  99.06233889
 166.55796947 159.34137227 158.27448255 143.05684078 231.55890118
 176.64724258 187.23580712  65.39099908 190.66218796 179.75181691
 234.9080532  119.15669025  85.63551834 100.8597527  140.41937377
 101.83524022 120.66560385  83.0664276  234.58488012 245.15862773
 263.26954282 274.87127261 180.67257769 203.05642297 254.21625849
 118.44300922 268.45369506 104.83843473 115.86820464 140.45857194
  58.46948192 129.83145265 263.78607272  45.00934573 123.28890007
 131.0856888   34.89181681 138.35467112 244.30103923  89.95923929
 192.07096194 164.33017386 147.74779723 191.89092557 176.44360299
 158.3490221  189.19166962 116.58117777 111.449754   117.45232726
 165.79598354  97.80405886 139.54451791  84.17319946 159.93677518
 202.39971737  80.48131518 146.64558568  79.05314048 191.33777472
 220.67516721 203.75017281  92.86459928 179.15576252  81.79874055
 152.8290929   76.80052219  97.79590831 106.8371012  123.83461591
 218.13908293 126.01937664 206.7587966  230.5767944  122.05921633
 135.67824405 126.37042532 148.49374458  88.07147107 138.95823614
 203.8691938  172.55288732 122.95701477 213.92310163 174.89158814
 110.07294222 198.36584973 173.25229067 162.64748776 193.31578983
 191.53493643 284.13932209 279.31133207 216.00823829 210.08668656
 216.21612991 157.01450004 224.06431372 189.06103154 103.56515315
 178.70270016 111.81862434 291.00196609 182.64651752  79.33315426
  86.33029851 249.1510082  174.51537682 122.10291074 146.2718871
 170.65483847 183.497196   163.36806262 157.03297709 144.42614949
 125.30053093 177.50251197 104.57681546 132.17560518  95.06210623
 249.89755705  86.23824126  61.99847009 156.81295053 192.32218372
 133.85525804  93.67249793 202.49572354  52.54148927 174.82799914
 196.91468873 118.06336979 235.29941812 165.09438096 160.41761959
 162.37786753 254.05587268 257.23492156 197.5039462  184.06877122
  58.62131994 194.39216636 110.775815   142.20991224 128.82520996
 180.13082199 211.26488624 169.59494046 164.33851796 136.23374077
 174.51001028  74.67587343 246.29432383 114.14494406 111.54552901
 140.0224376  109.99895704  91.37283987 163.01540596  75.16804478
 254.06119047  53.47338214  98.48397565 100.66315554 258.58683032
 170.67256752  61.91771186 182.31148421 171.26948629 189.19505093
 187.18494664  87.12170524 148.37964317 251.35815403 199.69656904
 283.63576862  50.85911237 172.14766276 204.05976093 174.16540137
 157.93182911 150.50028158 232.97445368 121.5814873  164.54245461
 172.67625919 226.7768891  149.46832104  99.13924946  80.43418456
 140.16148637 191.90710484 199.28001608 153.63277325 171.80344337
 112.11054883 162.60002916 129.84290324 258.03100468 100.70810916
 115.87608197 122.53559675 218.1797988   60.94350929 131.09296884
 119.48376601  52.60911672 193.01756549 101.05581371 121.22668124
 211.85894518  53.44727472]

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [55]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [56]:
# Your code here:

auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [57]:
# Your code here:

auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [58]:
# Your code here:

print(auto.model_year.min())
print(auto.model_year.max())

70
82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [59]:
# Your code here:

auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [60]:
auto_clean = auto.dropna()

In [61]:

auto_clean.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [62]:
# Your code here:

auto_clean.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [63]:
# Import the necessary function

auto_clean.drop(columns='car_name', inplace=True)
auto_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 24.5 KB

/var/folders/8p/70rg96_90177mq050h9mr8d80000gn/T/ipykernel_70333/1629158302.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  auto_clean.drop(columns='car_name', inplace=True)

In [64]:
# Your code here:

X_train, X_test, y_train, y_test = train_test_split(auto_clean.drop('mpg', axis=1), auto_clean['mpg'], test_size=0.2)

In [65]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((313, 6), (79, 6), (313,), (79,))

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [66]:
# Your code here:

linreg = LinearRegression()

Next, fit the model in the cell below.

In [67]:
# Your code here:

linreg.fit(X_train, y_train)
linreg.score(X_train, y_train)

0.8110770374363069

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [68]:
# Import the necessary function:

from sklearn.metrics import r2_score

In [69]:
# Your code here:

y_predict = linreg.predict(X_test)
r2_score(y_test, y_predict)

0.7919216924817871

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [70]:
# Your code here:

r2_score(y_test, y_predict)

0.7919216924817871

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [71]:
# Your code here:

X_train90, X_test90, y_train90, y_test90 = train_test_split(auto_clean.drop('mpg', axis=1), auto_clean['mpg'], test_size=0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [72]:
# Your code here:

auto_model90 = LinearRegression()
auto_model90.fit(X_train90, y_train90)
auto_model90.score(X_train90, y_train90)

0.8039166365485875

Compute the predicted values and r squared score for our new model and new sample data.

In [73]:
# Your code here:

y_predict90 = auto_model90.predict(X_test90)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [74]:
# Your code here:

r2_score(y_test90, y_predict90)

0.8514584395722199

In [75]:
r2_score(y_test, y_predict), r2_score(y_test90, y_predict90)

(0.7919216924817871, 0.8514584395722199)

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [76]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [77]:
# Your code here:

X = auto_clean.drop('mpg', axis=1)
y = auto_clean.mpg
selecto = RFE(linreg, n_features_to_select=3)
selecto.fit(X,y)
selecto.ranking_

array([1, 2, 4, 3, 1, 1])

Fit the model and print the ranking

In [78]:
# Your code here:

selecto.fit(X,y)
selecto.ranking_

array([1, 2, 4, 3, 1, 1])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [79]:
# Your code here:

auto_reduced = auto_clean[['cylinders', 'acceleration', 'model_year']]

In [80]:
X_reduced = auto_reduced
y_reduced = auto_clean['mpg']

In [81]:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X_reduced, y_reduced, test_size=0.2)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [82]:
# Your code here: 

auto_model_reduced = LinearRegression()
auto_model_reduced.fit(X_train_reduced, y_train_reduced)
y_predict_reduced = auto_model_reduced.predict(X_test_reduced)
r2_score(y_test_reduced, y_predict_reduced)

0.6821888270328367